<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><?=$blog['title']?></title>
</head>
<style>
    .agree-list{
        border:1px solid skyblue;
        padding:0;
        text-align:center;
    }
    .avatar{
        width: 50px;
        height: 50px;
        border-radius:50%;
        border:1px solid skyblue;
        padding: 5px;
        margin-left:20px;
    }
    .agree-list h3{
        padding: 0;
        margin-top:0;
        background-color:#EEE;
        padding:5px;
    }
</style>
<body>
    <h1>智聊系统</h1>
    <div id="menu"></div>
    
    <h1><?=$blog['title']?></h1>
    <p>
        浏览量：
        <span id="display"></span>
    </p>    
    <p><?=$blog['content']?></p>
    <!-- 点赞 -->
    <img src="/images/agree.jpeg" id="btn-agree" alt="">

    <!-- 点赞列表 -->
    <div class="agree-list">
        <h3>点赞列表</h3>
        <div id="avatar-list"></div>
    </div>
    
    <?php view('common.footer') ?>
    
</body>
</html>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>

<script>
    var id = "<?=$blog['id']?>";
    var url = "/blog/display?id=" + id;
    $.ajax({
        type:"GET",
        url:url,
        dataType:'json',
        success:function(data)
        {
            $("#display").html(data.display);

            var html = '<a href="/">首页</a>';

            //判断是否登陆
            if(data.email == '')
            {
                html += `
                <a href="/user/register">注册</a>
                <a href="/user/login">登录</a>
                    `;
            }
            else
            {
                html += data.email + 
                ` <a href="/blog/index">日志列表</a> 
                      <a href="/blog/create">发表日志</a> 
                      <a href="/user/login">退出</a>`;
            }

            //把按钮放进去
            $("#menu").html(html);
        }
    })
    
    //点赞
    $("#btn-agree").click(function(){
        $.ajax({
            type:"POST",
            url:"/blog/agreements?id="+id,
            dataType:"json",
            success:function(data)
            {
                if(data.status_code == 200)
                {
                    alert("成功");
                }
                else
                {
                    alert(data.message);
                }
            }
        });
    });

    //点赞列表
    $.ajax({
        type:"GET",
        url:"/blog/agreements_list?id="+id,
        dataType:"json",
        success:function(data)
        {
            if(data.status_code == 200)
            {
                var html = '';
                for(var i=0;i<data.data.length;i++)
                {
                    var avatar = data.data[i].avatar ? data.data[i].avatar : '/images/avatar.jpg';
                    html += '<img title="'+data.data[i].email+'"class="avatar" src="'+ avatar +'" alt="">';
                }

                $("#avatar-list").html(html);
            }
        }
    })
</script>
