<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>批量上传</title>
</head>
<body>
    <h1>批量上传</h1>
<form action="/upload/multiple" method="post" enctype="multipart/form-data">
    <input type="file" name="images[]"> <br>
    <input type="file" name="images[]"> <br>
    <input type="file" name="images[]"> <br>
    <input type="file" name="images[]"> <br>
    <input type="file" name="images[]"> <br>
    <input type="submit" value="提交">
</form>
</body>
</html>